header
    //- making header fixed while able to scroll contents
    .header-position
        h1.logo rc
        
        nav.site-nav
            ul
                li: a(href="#about") About
                li: a(href="#github") Github
                li: a(href="#linkedin") LinkedIn
                li: a(href="#contact") Contact

        a(href="mailto:ryanjosephcruz1@gmail.com").email-link +email me
