section.about
    .flex.flex--center
        .col-1
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel libero pharetra, laoreet magna vitae, vehicula ipsum. Sed id luctus felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in convallis mi. Cras eget nulla non eros rhoncus rhoncus quis eget lacus. In porttitor euismod lobortis. Nulla viverra, est sit amet euismod consectetur, erat tellus dapibus orci, id fringilla dolor nunc nec ligula. Nullam ultricies urna in tellus ultrices, a sodales enim suscipit. Nullam in sapien vulputate, pretium lacus sed, egestas est. Nunc posuere diam sit amet nibh suscipit, quis pellentesque augue sollicitudin.
        .col-1
            h2 Ryan is trying to grow up,
            p.home-lead but instead spends his time...
